# ..................................................................
# API Framework
djangorestframework==3.13.*
django>=4.0
# ..................................................................
# Serve static assets in production
whitenoise==5.3.0
# ..................................................................
# To make HTTP requests
requests==2.26.0
# ..................................................................
# To parse HTML tree documents
lxml==4.6.4
# ..................................................................
# For date parsing
dateparser==1.1.0
# ..................................................................
# Production API Server
gunicorn==20.0.4
# ..................................................................
# For creating interactive docs
drf-spectacular==0.21.1
# ..................................................................
# For background work (async work). Redis is the message broker
celery==5.1.2
redis==4.0.0
# ..................................................................
# For hard type checking
typeguard==2.13.3
# ..................................................................
# For interaction with Hashicorp Vault
hvac==0.11.2