django-rq==2.4.1
djangorestframework==3.12.2
whitenoise==5.3.0
requests==2.26.0
lxml==4.6.4
dateparser==1.1.0
gunicorn==20.0.4
drf-yasg[validation]

# ..................................................................
# For background work (async work)
celery==5.1.2
redis==3.5.3
# ..................................................................
# For hard type checking
typeguard==2.13.0
# ..................................................................
# For interaction with Hashicorp Vault
hvac==0.11.2